Voice_agent_outbound_n8n.json
{
  "name": "27. Retell Voice agent outbound n8n",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"+12678395989\",\n  \"to_number\": \"+91{{ $json.body.phone }}\",\n  \"override_agent_id\": \"agent_75c14c6770d79c9f38cf7f3a0b\",\n  \"metadata\": {},\n  \"retell_llm_dynamic_variables\": {\n    \"name\": \"{{ $json.body.name }}\",\n    \"email_id\": \"{{ $json.body.email }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        -160
      ],
      "id": "1a6f91a4-9421-4bdb-9cf8-d0a36e316f9e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "u0qwP6s5140f1vqP",
          "name": "Retell AI "
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input\nUser Name - {{ $json.body.args.name }}\nPreferred Time -  {{ $json.body.args.preferred_time }}\nEmail ID - {{ $json.body.call.retell_llm_dynamic_variables.email_id }}\n\nCurrent time - {{ $now }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant. Your responsibilities include creating, getting, and deleting events in the user’s calendar.\n\n## Calendar Management Tools:\n\nUse “Create Event” when an event includes a participant.\n\n## Rules\n- Turn the incoming query into an action. Ignore clarification questions, just take action based on the intent you receive.\n- Set Proper Title for Meeting\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn’t specified, assume it will be one hour."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -240,
        120
      ],
      "id": "a6d2a4b1-5ae5-4d59-a0e0-9b43aec58ec5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -340,
        360
      ],
      "id": "39cbc445-c3cb-4d66-82d1-5bbbd60c051d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "69W0MY1rH5ycGoOb",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "freelance3015@gmail.com",
          "mode": "list",
          "cachedResultName": "freelance3015@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -60,
        400
      ],
      "id": "c3c04887-c699-4f89-800b-da06e6d182ea",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "vsCEbiuqZfTaHAd1",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DS-trWsUZdZDHyWkUTYhD5Scbkp4H-HkLbMs2xWlGzM",
          "mode": "list",
          "cachedResultName": "Voice Agent Dental Clinic Entry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DS-trWsUZdZDHyWkUTYhD5Scbkp4H-HkLbMs2xWlGzM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DS-trWsUZdZDHyWkUTYhD5Scbkp4H-HkLbMs2xWlGzM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Retell AI call').item.json.body.args.name }}",
            "Location ": "={{ $('Retell AI call').item.json.body.args.location }}",
            "Concern": "={{ $('Retell AI call').item.json.body.args.concern }}",
            "Preferred Time": "={{ $('Retell AI call').item.json.body.args.preferred_time }}",
            "Email ID": "={{ $('Retell AI call').item.json.body.call.retell_llm_dynamic_variables.email_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location ",
              "displayName": "Location ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Concern",
              "displayName": "Concern",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Time",
              "displayName": "Preferred Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        120,
        120
      ],
      "id": "a909db1d-fe69-4bf7-908e-a4e8ae339a0f",
      "name": "Update the Entry",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uvQG3YEEXtu5NVSj",
          "name": "Freelance Account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ad7b26c0-33fb-4968-bc2c-63068d0a4600",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -360,
        -160
      ],
      "id": "a7f4e7d8-83f8-43bf-b0af-c6fdbd51dec7",
      "name": "Landing Page Call",
      "webhookId": "ad7b26c0-33fb-4968-bc2c-63068d0a4600"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ee4111fc-0b05-447a-a6b3-0b8b1c0e19c2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        120
      ],
      "id": "c9f21b5b-838c-4b78-a0a9-0fef1bfa7c0a",
      "name": "Retell AI call",
      "webhookId": "ee4111fc-0b05-447a-a6b3-0b8b1c0e19c2"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update the Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Landing Page Call": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell AI call": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e39ac867-e02d-4b65-b4d0-7595e65c9b13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "353ac65d120d2007b8a1503e85a96651a9b2cbb94b0334693ebac2129fa6a7ee"
  },
  "id": "3NNdWsmHjiE1JPvL",
  "tags": []
}